*{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary-colour{
    background-color: rgb(248,85,10);
}

/* header section start */


.container{
    max-width: 80%;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin-left: 30px;
}
.nav-items .fa-list{
    font-size: 20px;
    display: none;
}
.nav-items a{
    text-decoration: none;
    color: rgb(71, 70, 70);
}

.banner-section{
    text-align: center;
    background-image: url(../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png);
    background: linear-gradient(180deg, black);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-weight: 700;
    font-size: 50px;
}
.banner h1,p{
    color: #fff;
    max-width: 600px;
}
.banner p{
    margin-bottom: 30px;
}
.select-box{
    background-color: rgba(155, 151, 151, 0.432);
    padding: 12px;
    border-radius: 5px;
}
.select-box input{
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    margin-left: 5px;
}
.select-box input{
    padding: 10px 0 10px 10px;
}
.when-button{
    position: relative;
    display: inline;
}
.when-button i{
    position: absolute;
    right: 20px;
    top: 2px;
    color: gray;
}
.select-type{
    position: relative;
    display: inline;
}
.select-type i{
    position: absolute;
    right: 20px;
    top: 2px;
    color: gray;
}
.btn-primary{
    color: #fff;
    border-radius: 10px;
    border: 0;
    padding: 10px 20px;
    margin-left: 5px;
}

@media screen and (max-width:600px){

    .nav-title h1{
        font-size: 16px;
    }
    .nav-items ul{
        display: none;
    }
    .nav-items .fa-list{
        display: block;
    }
    .banner-section{
        background-size: auto;
        object-fit: fill;
    }
    .banner h1{
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner h1,p{
        max-width: 100%;
        /* padding: 0 20px; */
    }
    .select-box{
        margin: 20px;
    }
    .select-box input{
        padding: 15px 50px;
        margin-bottom: 10px;
    }
    .when-button i{
        top: 60px;
    }
    .select-type i{
     left: 230px;
    }
    .btn-primary{
        padding: 15px 92px;
    }
}

/* header section end */



/* main section start */

/* popular tour section */


.popular-tour-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /* align-items: start; */
}
.popular-tour-title{
    max-width: 450px;
}
.popular-tour-title h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.popular-tour-title p{
    margin-bottom: 20px;
}
.popular-tour-title li{
    margin-bottom: 20px;
}
.popular-tour-title p,li{
    color: gray;
}
.popular-tour-title .btn-primary{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: large;

}
.popular-tour-section img{
    width: 50%;
    height: 400px;
}

@media screen and (max-width:600px) {
    .popular-tour-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
    }
    .popular-tour-title .btn-primary{
        margin-bottom: 30px;
    }
    .popular-tour-section img{
        width: 100%;
        height: 100%;
    }
}

/* popular tour end */


/* choose destination section start */


.choose-destination-section{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.choose-destination-section h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.choose-destination-section p{
    color: gray;
    margin-bottom: 40px;
}



.images-items-1{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.images-items-1 .image-1{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}
.div-1{
    position: relative;
}
.div-1 h1{
    position: absolute;
    left: 35%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}


.images-items-1 .image-2{
    width: 100%;
    object-fit: contain;
}
.div-2{
    position: relative;
}
.div-2 h1{
    position: absolute;
    left: 35%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}

.images-items-2{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.images-items-2 .image-3{
    width: 100%;
    object-fit: contain;
}
.div-3{
    position: relative;
}
.div-3 h1{
    position: absolute;
    left: 35%;
    top: 35%;
    color: #fff;
    font-size: 25px;

}
.images-items-2 .image-4{
    width: 100%;
    object-fit: contain;
}
.div-4{
    position: relative;
}
.div-4 h1{
    position: absolute;
    left: 35%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}
.images-items-2 .image-5{
    width: 100%;
    object-fit: contain;
}
.div-5{
    position: relative;
}
.div-5 h1{
    position: absolute;
    left: 30%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}
.images-items-3{
    display: flex;
    gap: 10px;
}
.images-items-3 .image-6{
    width: 100%;
    object-fit: contain;
}
.div-6{
    position: relative;
}
.div-6 h1{
    position: absolute;
    left: 30%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}
.images-items-3 .image-7{
    width: 100%;
    object-fit: contain;
}
.div-7{
    position: relative;
}
.div-7 h1{
    position: absolute;
    left: 30%;
    top: 35%;
    color: #fff;
    font-size: 25px;
}

@media screen and (max-width:600px) {
    .choose-destination-section h1{
        font-size: 25px;
    }
    .images-items-1{
        flex-direction: column;
    }
    .images-items-2{
        flex-direction: column;
    }
    .images-items-3{
        flex-direction: column;
    }
    
}

/* choose destination section end */


.choose-section-title{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.choose-section-title h1{
    font-size: 35px;
}
.choose-section-title p{
    color: gray;
}
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: gray;
}
.handpicked-hotel{
    background-color: rgba(245, 181, 181, 0.308);
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
}
.world-class-service{
    background-color: rgba(188, 241, 188, 0.39);
    padding: 30px;
    border-radius: 10px;
}
.best-price-guarantee{
    background-color: rgba(255, 182, 193, 0.349);
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
}
.handpicked-hotel i{
    /* height: 50px;
    width: 50px; */
}

.newsletter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.newsletter-title{
    max-width: 500px;
    border: 1px solid rgb(236, 49, 49);
    height: 390px;
    border-radius: 10px;
    padding: 20px;
    /* margin-top: 20px; */
}
.newsletter-title hr{
    margin: 20px 0;
    color: rgba(228, 218, 218, 0.267);
}
.newsletter-title input{
    padding: 7px 250px 7px 5px;
    border: 0;
    background-color: lightyellow;
    margin-top: 20px;
}
.newsletter-title .text{
    /* margin-bottom: 15px; */
}
.newsletter-title button{
    margin-top: 30px;
    padding: 15px 200px;

}
.discount{
    position: relative;
}
.discount img{
    width: 90%;
    height: 390px;
    /* margin-top: 30px; */
    margin-left: 30px;
}
.discount button{
    padding: 25px 70px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    transform: rotate(-30deg);
}

footer{
    background-color:rgb(241, 237, 231) ;
    /* max-width: 100%; */
    text-align: center;
    height: 400px;
    margin-top: 100px;
    padding: 90px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
footer p{
    max-width: ;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer i{
    margin-left: 15px;
    font-size: 30px;
}
footer hr{
    margin-top: 30px;
    margin-bottom: 40px;
}
footer h5{
    padding-bottom: 90px;

}
@media screen and (max-width:600px){
    .container{
       width: 100%;
    }
}